<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lib.twoosh.twooshlib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.intent.REGISTRATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/twoosh_icon"
        android:label="Twoosh"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TwooshDock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomDock"
            android:label="@string/title_activity_room_dock">



        </activity>
        <activity
            android:name=".CreatePost"
            android:label="@string/title_activity_create_post"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Chatbox"
            android:label="@string/title_activity_chatbox"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ScrollTestActivity"
            android:label="@string/title_activity_scroll_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PeopleChat"
            android:label="@string/title_activity_people_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".VerifyOTP"
            android:label="@string/title_activity_verify_otp"
            android:theme="@style/AppTheme" />

        <service
            android:name=".services.FService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Signup2"
            android:label="@string/title_activity_user_profile" >

        </activity>
    </application>

</manifest>
